<?xml version="1.0" encoding="UTF-8"?>
{%- set mod= name|snake -%}
{%- set model = "%s.%s"|format(mod, mod) -%}
<odoo>
    <!-- {% for item in range(5) %} -->
    <!--   <record id="object{{ item }}" model="{{ model }}"> -->
    <!--     <field name="name">Object {{ item }}</field> -->
    <!--     <field name="value">{{ item * 10 }}</field> -->
    <!--   </record> -->
    <!-- {% endfor %} -->
</odoo>
