<?xml version='1.0' encoding='UTF-8'?>
<odoo>

    <!-- <templates id="template" xml:space="preserve"> -->
        <!-- <t t-name="{{ name|pascal }}"> -->



        <!--     <span class='product' t-att-data-product-id="product.id">
                <div class="product-img">
                    <img t-att-src='image_url' />
                    <span class="price-tag">
                        <t t-esc="product.product_variant_count"/> Variants
                    </span>
                </div>
                <div class="product-name">
                    <t t-esc="product.name"/>
                </div>
            </span> -->



        <!-- </t> -->
    <!-- </templates> -->

</odoo>
