<?xml version='1.0' encoding='UTF-8'?>
<odoo>
  <!-- Adapt asset inheritance & create file -->
<!--
  <template id="assets_backend" name="{{mod}} assets" inherit_id="[point_of_sale|web].assets">
    <xpath expr="." position="inside">
      <link rel="stylesheet" href="/{{mod}}/static/src/css/stylesheet.css"/>
      <script type="text/javascript" src="/{{mod}}/static/src/js/script.js"/>
    </xpath>
  </template>
 -->
  <!-- <template id="listing"> -->
  <!--   <ul> -->
  <!--     <li t-foreach="objects" t-as="object"> -->
  <!--       <a t-attf-href="#{ root }/objects/#{ object.id }"> -->
  <!--         <t t-esc="object.display_name"/> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </template> -->
  <!-- <template id="object"> -->
  <!--   <h1><t t-esc="object.display_name"/></h1> -->
  <!--   <dl> -->
  <!--     <t t-foreach="object._fields" t-as="field"> -->
  <!--       <dt><t t-esc="field"/></dt> -->
  <!--       <dd><t t-esc="object[field]"/></dd> -->
  <!--     </t> -->
  <!--   </dl> -->
  <!-- </template> -->
</odoo>
